---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Feliz from "../components/Feliz.astro";
import Cumpleaos from "../components/Cumpleaños.astro";
import Footer from '../components/Footer.astro';
import Amor from "../components/Amor.astro";
---

<Layout title="Feliz cumple.❤️">
    <main class="bg-purple-950 h-screen">
        <Header/>
        <Feliz/>
        <Cumpleaos/>
        <Amor/>
        <Footer/>
    </main>
</Layout>