---
import Layout from '../layouts/Layout.astro';
import Login from '../components/Login.astro';
---

<Layout title="Ale">
	<main class="bg-stars h-full">
		<Login />
	</main>
</Layout>

<style>
	.bg-stars{
		background-image: url('./public/img/stars2.svg');
		animation: rotate 4s alternate infinite;
	}
	@keyframes rotate{
		100%{
			background-position: 0% 100%;
		}
	}
</style>