<section class="min-h-screen" id="amor">
    
    <div class="m-auto w-5/6 max-w-[1000px] flex flex-col py-28 ">
        <h1 class="text-4xl text-purple-400 font-semibold pb-5">Amor como el de nosotros, ninguno.</h1>
        <div class="grid grid-cols lg:grid-cols-3 gap-5 mt-4">
            <div class="relative overflow-hidden h-auto rounded-md pb-5 bg-purple-900">
                <img src="./assets/img/viaje.JPG" alt="viaje">
                <h1 class="text-purple-400  text-xl font-semibold pt-2 px-3">Primer viaje</h1>
                <p class="text-slate-50 text-base px-3">
                    Nuestro primer viaje juntos, lleno de locura, risas y de momentos inolvidables. 
                </p>
            </div>
            <div class="relative overflow-hidden h-auto rounded-md pb-5 bg-purple-900">
                <img src="./assets/img/primerdiciembre.JPG" alt="viaje">
                <h1 class="text-purple-400  text-xl font-semibold pt-2 px-3">Primer diciembre</h1>
                <p class="text-slate-50 text-base px-3">
                    Nuestro primer diciembre juntos, fue un mes muy bonito donde nunca faltó el amor. 
                </p>
            </div>
            <div class="relative overflow-hidden h-auto rounded-md pb-5 bg-purple-900">
                <img src="./assets/img/primeraniversario.JPG" alt="viaje">
                <h1 class="text-purple-400  text-xl font-semibold pt-2 px-3">Primer aniversario</h1>
                <p class="text-slate-50 text-base px-3">
                    Nuestro primer aniversario juntos, para mí fue el mejor día de mi vida, fue muy hermoso lo que sentí. 
                </p>
            </div>
        </div>
        
    </div>

</section>