
<section class="bg-purple-950 justify-center items-center transition-all duration-500" id="cumpleaños">
    <div class="m-auto w-5/6 max-w-[1000px] flex flex-col py-28">
        <div class="text-start">
            <h1 class="text-4xl font-bold text-purple-400">Cúmplelos feliz.</h1>
            <p class="text-slate-100 text-lg font-normal mt-1">
                <br>Mi amor,<br>
                <br>Hoy el sol brilla con una luz especial, porque es el día en que el universo celebró tu llegada al mundo. ¡Feliz cumpleaños, mi preciosa! 🎉🎂<br>
                <br>Hoy marcas 21 años de vida, pero para mí, cada día contigo es una nueva oportunidad de descubrir lo maravillosa que eres. Cada momento a tu lado es un regalo, y no puedo esperar para compartir muchos más contigo.<br>
                <br>Eres la melodía que alegra mis días, la luz que ilumina mi camino y el motivo de mi felicidad. Tu sonrisa es mi mayor tesoro, y tu amor es mi refugio. En este día tan especial, quiero recordarte lo especial que eres para mí.<br>
                <br>Que este nuevo año de vida te traiga alegría incontenible, éxitos sin medida y amor que se multiplique. Estoy emocionado por todos los momentos que aún tenemos por vivir juntos y por seguir construyendo nuestros sueños.<br>
                <br>Que cada día esté lleno de risas, abrazos cálidos y momentos inolvidables. Que encuentres felicidad en las pequeñas cosas y que el amor nos siga guiando en nuestro camino.<br>
                <br>Feliz cumpleaños, mi amor. Que este día esté lleno de amor, alegría y sorpresas. Estoy agradecido por tenerte en mi vida y emocionado por seguir celebrando muchos cumpleaños más a tu lado.<br>
                <br><span class=" text-2xl font-bold">Te amo. ❤️</span>
            </p>
        </div>
    </div>

</section>

