<footer class="bg-purple-950 py-5 text-white border-t border-slate-200/70 ">
    <div class="container text-base flex items-center justify-center flex-row">
        <p>&copy; 2024 <span class="text-purple-400"> Hecho con todo mi amor. </span></p>
    </div>
</footer>