<header class="sticky w-full py-14 flex justify-center items-center bg-purple-950">
    <nav class="flex justify-between w-5/6 max-w-3xl">
        <a href="#" class="font-bold hover:text-purple-600 transition-all ease-out text-purple-400 text-2xl ">Ale<span class="block text-2xl tracking-widest text-center cursive">Ariza</span></a>
        <ul class="md:flex flex-row gap-9">
            <li class="text-neutral-50 font-medium text-sm hover:text-purple-400 transition-all ease-out">
                <a href="#feliz">Feliz</a>
            </li >
            <li class="text-neutral-50 font-medium text-sm hover:text-purple-400 transition-all ease-out">
                <a  href="#cumpleaños">Cumpleaños</a>
            </li>
            <li class="text-neutral-50 font-medium text-sm hover:text-purple-400 transition-all ease-out">
                <a  href="#amor">Amor</a>
            </li>
        </ul>
    </nav>
</header>
<style is:inline>
    .cursive{
        font-family: 'Dancing Script', cursive;
    }
</style>